apiVersion: v1
kind: PersistentVolume
metadata:
  name: model-pv
spec:
  capacity:
    storage: 1200Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: fsx.csi.aws.com
    volumeHandle: fs-058a0dc7a890c07d5  # ⚠️ 修改为你的 FSx ID
    volumeAttributes:
      mountname: "fsx"
      dnsname: "fs-058a0dc7a890c07d5.fsx.ap-northeast-1.amazonaws.com" # ⚠️ 修改 DNS
      region: "ap-northeast-1"
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: topology.fsx.csi.aws.com/zone
          operator: In
          values: ["ap-northeast-1d"] # ⚠️ 必须匹配集群 YAML 中的 AZ