apiVersion: v1
kind: PersistentVolume
metadata:
  name: model-pv
spec:
  capacity:
    storage: 1200Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: fsx.csi.aws.com
    volumeHandle: ${FSX_ID}  # 替换具体的 ID
    volumeAttributes:
      mountname: "vpre3bev"
      dnsname: "${FSX_ID}.fsx.ap-northeast-1.amazonaws.com" # 修改 DNS
      region: "ap-northeast-1"
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: topology.fsx.csi.aws.com/zone
          operator: In
          values: ["ap-northeast-1d"] # 必须匹配集群 YAML 中的 AZ